* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --swiper-navigation-size: 30px;
  --swiper-theme-color: #5e6267;
  --swiper-navigation-side-offset: 40px;
  --swiper-pargination-buttom: 20px;
  --swiper-pagination-color: rgb(119, 71, 71);
  --swiper-pagination-bullet-inactive-color: rgb(82, 71, 71);
  --swiper-pagination-bullet-inactive-opacity: 1;
}
body {
  background-color: black;
  color: white;
}
.slider {
  height: 100vh;
  box-shadow: inset 0  50px 50px black, inset 0  -50px 50px black;
}
.slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide_content {
  text-align: center;
  opacity: 0;
  transition: opacity .25s ease;

}
.swiper-slide-active .slide_content{
    opacity: 1;
}
.slide_content h2 {
  font-size: calc(var(--index) * 3);
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * 1.65);
  margin-bottom: calc(var(--index) * 2.3);
  position: relative;
}
.slide_content h2::after {
  content: "";
  height: 1px;
  width: 20%;
  background-color: rgb(218, 203, 203);
  position: absolute;
  left: 40%;
  bottom: calc(var(--index) * -1);
}
.slide_content p {
  font-size: calc(var(--index) * 0.9);
  text-transform: uppercase;
  color: rgba(255 255 255/ 0.79);
  letter-spacing: calc(var(--index) * 0.24);
  margin-bottom: calc(var(--index) * 2.6);
}
button {
  --button-color: rgba(255 255 255 / 0.9);
  padding: 9.5px 40px;
  font-size: 15.25px;
  border-radius: 10em;
  background-color: transparent;
  border: 3px solid var(--button-color);
  color: var(--button-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.slider-navigation > * {
  border: 1.5px solid var(--swiper-theme-color);
  border-radius: 10em;
  width: 55px;
  height: 55px;
}
.video-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .7;
    transition: opacity 2s ease-out;

}
.video-background.change{
    opacity: 1;
}
.container {
    margin: auto;
    max-width: 840px;
}
.container-top {
    display: flex;
    justify-content: space-between;
}
.top-line {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
}
.logo {
    border: 3px solid white;
    border-radius: 10em;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .55;
}
.logo img {
    width: 25px;
    height: auto;
}
.main-menu {
    display: flex;
    margin-top: 15px;
    font-size: 19px;
    margin-right: -16px;
    cursor: pointer;
}
.main-menu li {
    list-style: none;
}
.main-menu a {
    color: white;
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 200;
    outline: none;
}
.main-menu {
    text-decoration: underline;
}